.todo-form {
    appearance: none;
    width: 600px;
    margin: 0 auto;
}

.todo-form p {
    text-align: center;
    padding : 0;
    margin: 0;
}

.todo-form form {
    margin: 0 auto;
    text-align:center;
}

.todo-form ul {
    margin: 0;
    padding: 0;
}


.todo-form li {
    list-style: none;
    margin: 0 auto;
}

.todo-form label {
    margin-right: 10px;
    width: 100px;
    float: left;
}

.todo-form-title {
    margin: 0;
}

.todo-form-title label{
}

.todo-form-title input, textarea {
    border: 2;
    padding: 0;
    width: 400px;
}

.todo-form-title {
    height: 30px;
}


.todo-form-detail label {

}
.todo-form-detail textarea {
    height: 100px;
}

.todo-form-add {
    margin: 0;
    padding: 0;
}

.todo-form-add button {
    border: 0;
    width: 200px;
    height: 50px;
}


.todo-form input, textarea, button {
    border-radius: 5px;
}

