.toDo-header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #333333;
    color:#ffffff;
}

.toDo-header > h1 {
    margin: 0;
    line-height: 1.8;
}
