.todoItemList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 15px;
}


.todoItem {
    width: 500px;
    background-color: violet;
    margin: 0 auto;
}

.todoItem h1, p {
    margin: 0 auto;
    padding: 0;
}

.todoItem h1 {
    line-height: 1.5;
    padding-left: 10px;
}

.todoItem p {
    line-height: 1.8;
    padding-left: 10px;
}

.todoItem {
    display:flex;
}